@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .center-col {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .center-col-top {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .shopify-font {
        font-family: 'Shopify Sans Web Medium', Helvetica, Arial, sans-serif;
        letter-spacing: -1.49143px;
        color: rgb(33, 35, 38);
    }
    .gradient {
        background-image: radial-gradient(circle at 5% 0%, rgba(216,239,85,0.2) 15%, transparent 35%), radial-gradient(circle at 0% 0%, rgba(144,222,251,0.32) 9%, transparent 16%), radial-gradient(circle at 100% 50%, rgba(216,239,85,0.25) 5%, transparent 30%), radial-gradient(circle at 100% 50%, rgba(144,222,251,0.25) 8%, transparent 20%), radial-gradient(circle at 5% 81%, rgba(216,239,85,0.13) 11%, transparent 24%), radial-gradient(circle at 0% 84%, rgba(144,222,251,0.4) 2.5%, transparent 14%);
    }
}